.article-bg {
  background-image: url(../images/cars-pollution.jpg);
  background-size: cover;
  background-position: top;
  width: 23.5%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
}
.CMTAbanner {
  background-size: cover;
  height: 200px;
  top: 0px;
  padding: 10px;
  background-color: #FFFFFF;
    line-height: 225px;
    letter-spacing: .5em;  
}
.logo {
    height: 50%;
    width: 50;
}
.banner {
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    margin-left: 0;
}
.CMTAbannerleft {
  top: 0px;
  z-index: 1;
  padding-top: 60px;
  height: 200px;
  background-color: #FFFFFF;
}

.CMTAbanner_right {
  top: 0px;
  z-index: 1;
  padding-top: 60px;
  height: 200px;
  background-color: #FFFFFF;

}

hr {
height: 1px;
color: #123455;
background-color: #EF1D2C;
border: none;
}
/*
.CMTAbanner_right h2 {
    color: #FFFFFF;
    font-family: CMTA;
    font-size: 1em;
    line-height: 1.4em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
*/

.CMTAbanner h1 {
    color: #323F47;
    font-family: CMTABold;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 1em;
}

.CMTAbanner h3 {
    color: #323F47;
    font-family: CMTA;
    font-size: 1.2em;
    text-align: left;
    letter-spacing: 0.1em;
    font-size: 


}

.grade {
  margin-top: 225px;
  font-family: CMTA;
  font-size: 7em;
  text-align: left;
  color: #EF1D2C;
}

.article-content {

    margin-top: 225px;
    margin-left: 40px;
}

.headin {
    font-family: CMTA;
    font-size: 5em;
    text-align: left;
    margin-left: 50px;
    color: #EF1D2C;
}

.subheadin {
    font-family: CMTA;
    font-size: 3em;
    text-align: left;
    margin-left: 50px;
    color: #EF1D2C;
}

 .content {
     height: auto;
     width: auto;
     position: relative;
     overflow: auto;
     text-align: left;
      margin-left: 50px;
 }

.contentind {
    height: auto;
    width: auto;
    position: relative;
    overflow: auto;
    text-align: left;
    margin-left: 150px;
    font-family: CMTA;
     margin-left: 50px;
}

/*
@media(max-width:1200px) {
    .article-content {

    margin-left: 120px;
    max-width: 600px;
 
}
}

@media(max-width:1375px) {
    .article-content {

    margin-left: 135px;
    max-width: 600px;
 
}
}

@media(max-width:1400px) {
    .article-content {

    margin-left: 60px;
    max-width: 600px;
 
}
}
@media(max-width:1300px) {
    .article-content {

    margin-left: 120px;
    max-width: 600px;
 
}
}

@media(max-width:1270px) {
    .article-content {

    margin-left: 80px;
    max-width: 600px;
 
}
}

@media(max-width:767px) {
    .article-content {
    margin-left: 0;
   width: 95%;
 
}
    .article-bg {
    display: none;
    }
}
*/