.article-bg {
  background-image: url(../images/cars-pollution.jpg);
  background-size: cover;
  background-position: top;
  width: 23.5%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  z-index: 1;
}
.CMTAbanner {
  background-size: cover;
  top: 0px;
  padding: 10px;
  background-color: #FFFFFF;
    letter-spacing: .5em;  
  line-height: normal;
}
.check {
    margin-top: 50px;
}
.banner {
    position: fixed;
    width: 100%;
    left: 0;
    margin-left: 0;
}
.CMTAbannerleft {
  top: 0px;
  padding-top: 50px;
  background-color: #FFFFFF;
}

.CMTAbanner_right {
  top: 0px;
  padding-top: 50px;
  background-color: #FFFFFF;

}
/*
.CMTAbanner_right .logo {
  height: 100px;
}
*/
.CMTAbannerleft .logo {

}

img.check {
  max-height: 100px;
}

hr {
height: 1px;
color: #123455;
background-color: #EF1D2C;
border: none;
}
/*
.CMTAbanner_right h2 {
    color: #FFFFFF;
    font-family: CMTA;
    font-size: 1em;
    line-height: 1.4em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
*/
.CMTAbanner h1 {
    color: #323F47;
    font-family: CMTABold;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 1em;
}

.CMTAbanner p {
    color: #323F47;
    font-family: CMTA;
    font-size: 1.2em;
    text-align: left;
    letter-spacing: 0.1em;
    font-size: 12pt;
}

.grade {
  font-family: CMTAbold;
  font-size: 8em;
  color: #EF1D2C;
  text-align: left;
}

.CMTAbannerleft p {
  margin-top: 100px;
  font-family: CMTA;
  font-size: 4.5em;
  text-align: left;
  color: #123E47;
}

.article-content {

/*    margin-top: 260px;*/

}
.articleicon {
    float: left;
    height: 75px;
    padding-right: 5px;
}


.headin {

}

.subheadin {
    font-family: CMTA;
    font-size: 3em;
    text-align: left;
    margin-left: 50px;
    color: #EF1D2C;
}

 .content {
     height: auto;
     width: auto;
     position: relative;
     overflow: auto;
     text-align: left;
      margin-left: 45px;
 }

.contentind {
    height: auto;
    width: auto;
    position: relative;
    overflow: auto;
    text-align: left;
    font-family: CMTA;
}
.indfirst {
    height: auto;
    width: auto;
    position: relative;
    text-align: left;
    font-family: CMTA;
}

/*
@media(max-width:1200px) {
    .article-content {

    margin-left: 120px;
    max-width: 600px;
 
}
}

@media(max-width:1375px) {
    .article-content {

    margin-left: 135px;
    max-width: 600px;
 
}
}

@media(max-width:1400px) {
    .article-content {

    margin-left: 60px;
    max-width: 600px;
 
}
}
@media(max-width:1300px) {
    .article-content {

    margin-left: 120px;
    max-width: 600px;
 
}
}

@media(max-width:1270px) {
    .article-content {

    margin-left: 80px;
    max-width: 600px;
 
}
}
*/

/*
@media(max-width:767px) {
  .row {
    clear: both;
    margin-left: 0;
    width: 95%;
  }

  .CMTAbannerleft .logo .article-bg {
    width: 0px;
  }
}
*/

.social-links p {
  font-size: 10pt;
  vertical-align: middle;
}

.social-links p a {
  font-size: 18pt;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .container {
    width: 100%
  }

  p.grade {
    font-size: 6em;
  }
}

@media (min-width: 977px) {
  p.grade {
    font-size: 8em;
  }
}
