.article-bg {
  background-image: url(../images/cars-pollution.jpg);
  background-size: cover;
  background-position: top;
  width: 23.5%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  
}



.CMTAbanner {
  background-image: url(../images/CMTABanneronly.svg);
    background-size: contain;
    background-repeat: no-repeat;
  height: 200px;
  left: 0;
  position:fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  padding: 0;
    
}

.article-content {

    margin-top: 225px;
    margin-left: 55px;
 
}

.headin {
    font-family: CMTA;
    font-size: 5em;
    text-align: left;
    margin-left: 50px;
    color: #EF1D2C;
}

.subheadin {
    font-family: CMTA;
    font-size: 3em;
    text-align: left;
    margin-left: 50px;
    color: #EF1D2C;
}

 .content {
     height: auto;
     width: auto;
     position: relative;
     overflow: auto;
     text-align: left;
      margin-left: 50px;
 }

.contentind {
    height: auto;
    width: auto;
    position: relative;
    overflow: auto;
    text-align: left;
    margin-left: 150px;
    font-family: CMTA;
     margin-left: 50px;
    
}

@media(max-width:1200px) {
    .article-content {

    margin-left: 120px;
    max-width: 600px;
 
}
}

@media(max-width:1375px) {
    .article-content {

    margin-left: 135px;
    max-width: 600px;
 
}
}

@media(max-width:1400px) {
    .article-content {

    margin-left: 60px;
    max-width: 600px;
 
}
}
@media(max-width:1300px) {
    .article-content {

    margin-left: 120px;
    max-width: 600px;
 
}
}

@media(max-width:1270px) {
    .article-content {

    margin-left: 80px;
    max-width: 600px;
 
}
}

@media(max-width:767px) {
    .article-content {
    margin-left: 0;
   width: 95%;
 
}
    .article-bg {
    display: none;
    }
}
