.article-bg {
  background-image: url(../images/cars-pollution.jpg);
  background-size: cover;
  background-position: top;
  width: 23.5%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  z-index: 1;
}
.CMTAbanner {
  font-family: CMTA;
  background-size: cover;
  top: 0px;
  padding: 10px;
  background-color: #FFFFFF;
  letter-spacing: .5em;  
  line-height: normal;
}

.cardbackheader {
    width: 100%;
}

.banner {
    width: 100%;
    left: 0;
    margin-left: 0;
}

hr {
height: 1px;
color: #123455;
background-color: #EF1D2C;
border: none;
}

.strong {
    font-family: CMTA;
}
.CMTAbanner h1 {
    color: #323F47;
    font-family: CMTABold;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 1em;
    font-size: 3.5em;
}

.CMTAbanner p {
    color: #323F47;
    font-family: CMTA;
    font-size: 1.1em;
    text-align: left;
    letter-spacing: 0.1em;
}

.grade {
  font-family: CMTAbold;
  font-size: 7em;
  color: #EF1D2C;
  text-align: left;
  margin-top: 250px;
}



.indicatorheading {
    font-family: CMTAbold;
    color: #EF1D2C;
    text-align: left;
    margin-left: 0;
    font-size: 4em;
}
a {
    color: #428bca;
}

.btnA {
    background-color: #EF1D2C;
}

.fb-share-button {
    float: left;
}


.article-content {
margin-top: 35px;
}
.articleicon {
    float: left;
    height: 75px;
    padding-right: 5px;
}

.subheadin {
    font-family: CMTA;
    font-size: 3em;
    text-align: left;
    margin-left: 50px;
    color: #EF1D2C;
}

 .content {
     height: 100%;
     width: 100%;
     position: relative;
     overflow: hidden;
     text-align: left;
 }

.contentind {
    height: auto;
    width: auto;
    position: relative;
    overflow: auto;
    text-align: left;
    font-family: CMTA;
}
.indfirst {
    height: auto;
    width: auto;
    position: relative;
    text-align: left;
    font-family: CMTA;
}

/*
@media(max-width:1200px) {
    .article-content {

    margin-left: 120px;
    max-width: 600px;
 
}
}

@media(max-width:1375px) {
    .article-content {

    margin-left: 135px;
    max-width: 600px;
 
}
}

@media(max-width:1400px) {
    .article-content {

    margin-left: 60px;
    max-width: 600px;
 
}
}
@media(max-width:1300px) {
    .article-content {

    margin-left: 120px;
    max-width: 600px;
 
}
}

@media(max-width:1270px) {
    .article-content {

    margin-left: 80px;
    max-width: 600px;

}
}
*/

/*
@media(max-width:767px) {
  .row {
    clear: both;
    margin-left: 0;
    width: 95%;
  }
}
*/

.social-links p {
  font-size: 14pt;
  vertical-align: middle;
}

.social-links p a {
  font-size: 18pt;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .container {
    width: 100%
  }

}

@media (min-width: 977px) {
  p.grade {
  }
}

header, main {
  width: 950px;
  margin: 0px auto;
}
