/* Import custom fonts */
@font-face {
    font-family: CMTA;
    src: url(../fonts/TradeGothicLTStd@0.otf);
}

@font-face {
    font-family: CMTAbold;
    src: url(../fonts/TradeGothicLTStdBold@0.otf );
}


/* Flipcard mechanisms
from:
http://davidwalsh.name/css-flip
with added browser compatibility.
*/
.flipcardcontainer {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.flipcardcontainer:hover .flipcard, .flipcardcontainer.hover .flipcard {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipcard {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-family: CMTA;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back div {
}

.front {
  z-index: 2;
/* for firefox 31 */
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  height: 100px;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  height: 100px;
}


/* All content */
hr {
  height: 1px;
  color: #123455;
  background-color: #EF1D2C;
  border: none;
}


/* Header content */
.banner h1 {
/*    color: #323F47;*/
    font-family: CMTABold;
    letter-spacing: 0.1em;
    text-align: left;
}

header .banner p {
/*    color: #323F47; */
    font-family: CMTA;
    text-align: left;
    letter-spacing: 0.1em;
    font-size: 12pt;
}

.banner {
    background-image: url(../images/carousel_MARC.jpg);
    background-size: cover;
    background-color: #FF0000;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    color: #FFF;
}


/* Main content */
main {
  max-width: 950px;
  text-align: center;
  vertical-align: middle;
  margin: 0px auto;
}

.indGrp {
  vertical-align: middle;
}

.indGrp h2 {
  margin: 5px 5px 5px 5px;
  padding: 10px;
  font-size: 18pt;
  font-family: CMTABold;
  color: #FFFFFF;
  text-align: left;
}

#indA h2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #323F47), color-stop(0.6, #222C32));
  background: -webkit-linear-gradient(top, #323F47 0%, #222C32 60%);
  background: -moz-linear-gradient(top, #323F47 0%, #222C32 60%);
}

#indB h2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E4D6F), color-stop(0.6, #1B3756));
  background: -webkit-linear-gradient(top, #0E4D6F 0%, #1B3756 60%);
  background: -moz-linear-gradient(top,  #0E4D6F 0%, #1B3756 60%);
}

#indC h2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #133E47), color-stop(0.6, #0E3138));
  background: -webkit-linear-gradient(top, #133E47 0%, #0E3138 60%);
  background: -moz-linear-gradient(top, #133E47 0%, #0E3138 60%);
}

.flipcard {
  height: 100px;
  max-width: 260px;
  text-align: left;
  margin: 0px auto;
}

.flipcard .front .row img.icon {
  height: 50px;
  width: 50px;
  margin: 0px 0px 0px 20px;
  padding: 0px;
}

.flipcard .front p.grade {
  clear: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.flipcard p.grade {
  color: #Ef1D2C;
  text-align: center;
  margin: 20px;
  font-weight: 700;
  line-height: .6em;
  font-size: 2em;
  clear: left;
}

.flipcard h3 {
  font-size: 10pt;
  margin: 10px;
  padding: 0px;
}

.flipcard .front {
  border: 2px solid #DDDDDD;
}

.flipcard .back {
  position: relative;
  top: -100px;
}


/* Footer content */
