@font-face {
    font-family: CMTA;
    src: url(../fonts/TradeGothicLTStd@0.otf);
}

@font-face {
    font-family: CMTAbold;
    src: url(../fonts/TradeGothicLTStdBold@0.otf );
}

.CMTAbanner h1 {
    color: #323F47;
    font-family: CMTABold;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 1em;
}

h2 {
  font-family: CMTA;
  color: #FFFFFF;
  text-align: left;
  margin-left: 30px;
}

.CMTAbanner p {
    color: #323F47;
    font-family: CMTA;
    font-size: 1.2em;
    text-align: left;
    letter-spacing: 0.1em;
    font-size: 12pt;
}

.CMTAbanner_right .logo {
  height: 100px;
}

.CMTAbannerleft .logo {
  height: 90px;
}

.banner {
    background-color:#FFF;
    z-index: 1;
    width: 100%;
    left: 0;
    margin-left: 0;
    height: 180px;
}
.CMTAbannerleft {
  z-index: 1;
  padding-top: 50px;
  height: 180px;
  background-color: #FFFFFF;
  margin-left: 200px;
}

.CMTAbanner_right {
  top: 0px;
  z-index: 1;
  padding-top: 50px;
  height: px;
  background-color: #FFFFFF;

}

.logo {
    height: 50%;
    width: 50;
}

.CMTAbanner {
  background-size: cover;
  top: 0px;
  padding: 10px;
  background-color: #FFFFFF;
    letter-spacing: .5em;  
}

hr {
height: 1px;
color: #123455;
background-color: #EF1D2C;
border: none;
}

.intro {
    width: 75%;
    max-width: 800px;
    margin: 20px auto;
}

.intro img {
    width: 100%;
}

.indicator-category {
    height: 65px;
    margin: 20px 0 10px 0;
  margin: 0px;
}

.indicator-category.indA {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #323F47), color-stop(0.6, #222C32));
  background: -webkit-linear-gradient(top, #323F47 0%, #222C32 60%);
  background: -moz-linear-gradient(top, #323F47 0%, #222C32 60%);
}

.indicator-category.indB {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E4D6F), color-stop(0.6, #1B3756));
  background: -webkit-linear-gradient(top, #0E4D6F 0%, #1B3756 60%);
  background: -moz-linear-gradient(top,  #0E4D6F 0%, #1B3756 60%);
}

.indicator-category.indC {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #133E47), color-stop(0.6, #0E3138));
  background: -webkit-linear-gradient(top, #133E47 0%, #0E3138 60%);
  background: -moz-linear-gradient(top, #133E47 0%, #0E3138 60%);
}

.indicator-category .wrapper {
    padding: 10px 0 0 0;

}

.indicator-category h1 {
    clear: both;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.1em;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000;
    color: #FFF;
    padding: 0px;
    margin: 5px 10px;
}

.btn:hover {
    background: #EF1D2C;
        border: 0 none;
},
.btn:focus,
.btn:active{
    outline: 0 !important;
        border: 0 none;
}

/* entire container, keeps perspective */

.card-container {
	  -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
  margin: 5px;
}

/* flip the pane when hovered */

.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
	-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card-container.static:hover .card, 
.card-container.static.hover .card {
	-webkit-transform: none;
-moz-transform: none;
 -o-transform: none;
    transform: none;
}

/* flip speed goes here */
 .card {
	 -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
	position: relative;
   font-family: CMTA;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
		-webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3;
}
.back .btn-simple{
    position: absolute;
    left: 0;
    bottom: 4px;
}
/*        Style       */

.row.padded {
    display:block;
padding:0;
}

.paddedB
{
    margin-top: 20px;
    display:block;
    padding:0;
}

.row.paddedC {
    display:block;
    padding:0;
}


.card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 1);
  height: 100px;
}
.card-container, .front, .back {
	width: 100%;
	height: 100px;
}

.card .cover{
    height: 100px;
    overflow: hidden;
    margin-bottom: 1em;
  background-size: 100% 100px;
  background-repeat: no-repeat;
}

.cover img {
  margin: 5px;
}

/*images for Indicator A */
/* disabled until new bg images are made
.card .cover.disposable-income {
    background-image: url(../images/dis-inc-bg.png);
}

.card .cover.job-car {
    background-image: url(../images/job-car-bg.png);
}

.card .cover.job-transit {
    background-image: url(../images/job-train-bg.png);
}

.card .cover.road-repair {
    background-image: url(../images/stat-rep-bg.png);
}
*/
/* Images for Indicator B*/

/* disabled until new bg images are made
.card .cover.walk {
    background-image: url(../images/walk.png);
}
.card .cover.mode {
    background-image: url(../images/mode.png);
}
.card .cover.isolated {
    background-image: url(../images/isolated.png);
}
.card .cover.reliable {
    background-image: url(../images/reliable-transit.png);
}

/* Images for Indicator C */

/* disabled until new bg images are made
.card .cover.land {
    background-image: url(../images/land.png);
}
.card .cover.pollution {
    background-image: url(../images/pollution.png);
}
.card .cover.commute {
    background-image: url(../images/commute.png);
}
.card .cover.congestion {
    background-image: url(../images/congestion.png);
}
 disabled until new bg images are made */
/*

.card .user{
    display: block;
    margin: 0 auto 0;
    overflow: hidden;
    width: 80px;
}
.card .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

*/

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
  padding: 0px;
}
.card .content .main {
    min-height: 100px;
}
.card .back .content .main {
    height: 100px;
}

.card .back p {
    font-size: .7em;
    margin: 0;
}

.card .back h4 {
  margin: 5px 0;
}

.btnA {
    background-color: #323F47;    
}

.btnB {
    background-color: #0E4D6F;
}

.btnC {
    background-color: #133E47;
}

.card .indicator {
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
  font-size: 12pt;
}
.card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .grade {
    color: #Ef1D2C;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: .6em;
    font-size: 2em;
  clear: left;
}

.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 30px 0 0;
    padding: 5px 0 0;
    text-align: center;
}
.card .footer .social-links{
    font-size: 18px;
}
.card .footer .social-links a{
    margin: 0 7px;
}
.card .footer .btn-simple{
    margin-top: -6px;
}
.card .header {
    padding: 5px 20px;
    height: 40px;
}

.card .back .footer {
    margin: 0;
}

.card .motto{
    border-bottom: 1px solid #EEEEEE;
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
}

.wrapper.indA .motto {
    color: #323F47;
}

.wrapper.indB .motto {
    color: #0E4D6F;
}
.wrapper.indC .motto {
    color: #133E47;
}

/*      Just for presentation        */

.title{
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}
.title small{
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}

/*
.space-50{
    height: 50px;
    display: block;
}
.space-200{
    height: 200px;
    display: block;
}
.white-board{
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
}
.ct-heart{
    color: #F74933;
}

 pre.prettyprint{
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
.atv, .str{
    color: #05AE0E;
}
.tag, .pln, .kwd{
     color: #3472F7;
}
.atn{
  color: #2C93FF;
}
.pln{
   color: #333;
}
.com{
    color: #999;
} 
.btn-simple{
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-simple:hover,
.btn-simple:focus{
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}
.btn-simple i{
    font-size: 16px;
}

*/
/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;    
        backface-visibility: visible;
    }
    
    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }
    .card-container:hover .back{
        z-index: 5;
        visibility: visible;
    }
}

img.backimage {
  height: 100px;
  width: 100%;
}
